ul {
  font-size: 1.8em;
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.slidev-vclick-hidden-explicitly {
  display: none;
}

.slidev-vclick-hidden.hide-for-real {
  display: none;
}
