ul {
  font-size: 1.8em;
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.slidev-vclick-hidden-explicitly {
  display: none;
}

.slidev-vclick-hidden.hide-for-real {
  display: none;
}

.hidden-link {
  text-decoration: none;
  border: none !important;
}

.note * {
  font-size: 1em;
}

.note strong {
  color: coral;
}

.note em {
  color: cornflowerblue;
}
